<!DOCTYPE html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
      <header><img src="/img/log.png" alt="Meadowlark Trabel Logo"></header>
      {{{body}}}
  </body>
</html>
